.sidebar {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0px;

  & .sidebar-inner {
    height: 100%;
    & .toc-container {
      width: auto;
      height: 100%;
      position: absolute;
      left: 20px;
      right: calc(-49.5vw + 420px);


      & .toc {
        overflow-x: auto;
        position: sticky;
        top: 6.25rem;
        height: fit-content;
        transition: background 1s;
        background-color: var(--site-content-background-color);   
        padding: 1rem;
        border-radius: 8px;

        & > .toc-list {
          overflow: hidden;
          position: relative;
          margin: 0;
          padding-left: 10px;
          
          /* 防止列表项溢出 */
          max-width: 100%;
          box-sizing: border-box;

          & li {
            list-style: none;
          }
        }

        & .toc-list {
          margin: 0;
          padding-left: 10px;
          font-size: 0.9375em;
          
          & .toc-list-item {
            line-height: 1.8;
          }
        }

        & a {
          &.toc-link {
            color: var(--entry-content-list-color);
            height: 100%;

            &::before {
              background-color: #eee;
              content: " ";
              display: inline-block;
              height: inherit;
              left: 0;
              margin-top: -1px;
              position: absolute;
              width: 2px;
            }
          }
        }
      }

      @mixin screens-md {
        display: none;
      }
    }
  }
}
