/* Canvas 雨滴效果容器 */
.rain-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* 在首屏隐藏 */
.centerbg ~ .rain-canvas {
  display: none;
}
